*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    height: 100%;
    width: 100%;
}
.header-tittel{
    text-align: center;
}
.header-tittel h1{
    font-size: 70px;
    font-weight: bold;
    margin: 4px 0;
    color: rgb(167, 167, 86);

}
.header-tittel p{
    font-size: 23px;
    margin: 8px;
}
hr{
    background-color: blueviolet;
    border: 8px solid blueviolet;

    width: 600px;
    margin: auto;
    border-radius: 20px;
}
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
nav{

    margin: 10px;
}

@media  (max-width: 1000px) {
    nav{
         background-color: rgb(8, 8, 233);
         color: white;

 }}


@media  (min-width: 1000px) {
   nav{
        background: url(./images/header-bg.png);
        background-position: 100%;
        background-repeat: no-repeat;
        background-clip: cover;
        height: auto;
        width: 100%;
        color: white;
}}


.nav-link {
    color: white !important;
    font-size: 25px;
    text-transform: uppercase;
    margin: 10px;
    transition: .05s;
}

.nav-link:hover{
    color: fuchsia !important;
    text-decoration: underline;
}


#header{
    background: url(./images/banner-slide/Banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100%;



}

@keyframes headerimg {



}
/* hreader text */
.header-text {
  margin-top: 100px;
}
.header-text h1{
    font-size: 100px;
    font-weight: bold;

}
.header-text h3{
    font-size: 30px;
    background-color: black;
    padding: 8px;
    color: white;
    margin: 10px 0;
    display:inline-block ;

}


@media (min-width:900px) {
    .header-text p{
        width: 400px;
    }
}


.header-text p{
    line-gap-override: 8px;
    color: rgb(24, 10, 37);
    margin: 10px 0;
}
.header-text button {
    outline: none;
    border: none;
    margin: 20px 0;
}
.header-text button a{
    list-style: none;
    border:none;
    text-transform: uppercase;
    background-color: rgb(13, 179, 13);
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    outline: none;margin: 20px 0;

}


/* header icon */



.header-icon-box{
margin: 30px 0;
}


.header-box{
  background-color: rgba(211, 200, 200, 0.5);
  text-align: center;
  transition: 1s;
  border-radius: 12px;
}

.header-box:hover{
    background-color: rgb(37, 32, 32);
    color: white;
}
.header-box i{


    font-size: 60px;
    color: green;

    margin-top: 30px;
    border: 1px solid green;
    border-radius: 50%;
    background-color: white;
    padding: 15px;

}

.header-box h1{
    font-size: 50px;
    padding: 20px;
    font-weight: bold;

}

/* about sevtion */

.about-banner{
    background: url(./images/about/about-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0;
    margin: 15px 0;
}
button {
    outline: none;
    border: none;
    text-decoration: none;
}
button a{
    text-decoration: none;
    border-radius: 40px;
    background-color: green;
    padding: 10px 15px ;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}
button a:hover{
    background-color: black;
    color:white;
}
.about-banner h1{
 font-size: 35px;
 font-weight: bold;
}
.about-banner p{
    font-size: 17px;
}
.about-banner p span{
    font-size: 20px;
    font-weight: bold;
}.about-section-2{
    text-align: center;
    margin: 20px 0;
}

.about-section-2 h1{
    font-size: 45px;

}
.about-section-2 p{
    font-size: 20px;

}

/* .product secion */
.card-body h5{
    font-size: 30px;
    font-weight: bold;
}

.card{
    border: 1px solid green;
}

.card-2{
    text-decoration: line-through;
    color: green;
}

.product-text img{
    width: 550px;
    height: 350px;
    margin: 20px;
}

/* gallery sectionkk */
.header-galery img{
    transition: 0.8s;

}
.header-galery img:hover{
    
    cursor: pointer;
    transform: translateY(8px);
    transform: scale(1.1);
  
    

   
}


/* contact sectiomn */

.contact-box{
    background-color: #9AECDB;
    padding: 20px;
}

.formlavel input{
    font-size: 20px;
    width: 310px ;
    margin: 20px;
    padding: 10px;
}
.contact-box textarea{
    font-size: 20px;
    width: 93%;
    margin: 20px;
    padding: 10px;
}

.icon-div i{
    font-size: 50px;
    margin: 18px 8px ;
    color:rgb(27, 100, 211);
    
}

.text-di h4{
    font-size: 22px;
}
.submit-to{
    font-size: 30px;
    border: none;
    outline: none;
    background: linear-gradient(to right,#1B9CFC, #FC427B);
    color: white;
    transition: 1s;
    padding: 15px;
    border-radius: 30px;
}
.submit-to:hover{
   background-color: white;



}


/* foooter section */

.footer-section{
    background-image: url(./images/footer-bg/footer_bg.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   
   
}

.footer{
    padding: 120px 0;
    color: white;
}

.div0 {
    transition: 0.5s;

}
.div0:hover{
    transform: translateX(10px);
}
.div0 a{
 font-size: 20px;
 text-decoration: none;
 color: white;
padding: 5px;
transition: 0.5s;
}
.div0 a:hover{
    text-decoration: underline;
    
}
.div0 i{
    font-size: 25px; 
    color: rgb(194, 170, 170);
    margin: 5px 0;
    padding: 5px;
}
.foor-text i{
    font-size: 28px;
    margin: 5px;
    color: rgb(63, 168, 63);
}
.foor-text p{
    font-size: 20px;
    margin: 5px;
}

.footer-b5 input{
    width: 300px;
    
padding: 10px;
outline: none;
border: none;

}

.submit-footer{
    background-color: rgb(121, 19, 53);
    color: white;
    padding: 15px;
    margin: 10px 0;
    width: 150px;
   
    border-radius: 30px;

}
.foter-icon-b4 i{
    font-size: 30px;
    color: #817ba5;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
}
